$gray-font: rgb(193, 193, 193);
$main-orange: rgb(218, 149, 75);
$border-radius: 0.4rem;

.banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
	margin-bottom: 4rem;

  p {
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
  }
}

.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  gap: 1rem;

  h2 {
    font-size: 3.5rem;
  }
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  span {
    display: list-item;
    margin-left: 1rem;
    color: orangered;
  }
}

.formInput {
  border: 1px solid $main-orange;
  border-radius: $border-radius;
  height: 2.7rem;
  width: 35rem;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
}

.formInput::placeholder {
  color: $gray-font;
  font-weight: bolder;
}


.formInput:focus {
  outline: none !important;
  border: 1.5px solid rgb(227, 129, 24);
}

.menuSelect {
  width: 36.7rem;
  height: 3.5rem;
  color: $gray-font;
  font-weight: bolder;

  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 14px;
}
